.break-title {
    -fx-font-family: "Liberation Sans";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}
.break-small-description {
    -fx-font-family: "DejaVu Sans";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-wrap-text: true;
    -fx-text-alignment: CENTER;
}
.break-full-description {
    -fx-wrap-text: true;
    -fx-text-alignment: JUSTIFY;
}