.root {
    -fx-background-color: #232323;
    -fx-base: #232323;
    -fx-default-button: #AEAEAE;
    -fx-focus-color: #5200a2;
    -fx-faint-focus-color: rgba(0, 178, 234, 0.13);
    -fx-font-size: 14px;
}
.small-text {
    -fx-font-size: 12px;
}
.success-text {
    -fx-text-fill: rgb(54, 214, 78);
}
.fail-text {
    -fx-text-fill: rgb(239, 56, 56);
}
.warning-text {
    -fx-text-fill: rgb(253, 255, 91);
}