.spineware-image {
    -fx-padding: 10 0 10 0;
}

.menu-button {
    -fx-border-style: none;
    -fx-min-height: 40px;
    -fx-max-height: 50px;
    -fx-min-width: 120px;
    -fx-max-width: 140px;
    -fx-background-color: #232323;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-font-size: 18;
    -fx-background-radius: 0;
    -fx-padding: 2 2 2 2;
    -fx-text-alignment: left;
    -fx-alignment: CENTER_LEFT;
}

.menu-button:hover {
    -fx-background-color: #222222;
}

.menu-button:focused {
    -fx-background-color: #121212;
}

.menu-button.active {
    -fx-background-color: #000000;
}